<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="promo" translate="label" sortOrder="10">
            <label>Pauliaus moduliai</label>
        </tab>
        <section id="promo" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Promo</label>
            <tab>featured</tab>
            <resource>Modules_Promo::promo_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Title</label>
                    <comment>This text will display on the promo.</comment>
                </field>

                <field id="time" translate="label" type="time" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Time</label>
                    <comment>Promo offer time.</comment>
                </field>

                <field id="textColor" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Color</label>
                    <comment>This is the color of the promo text.</comment>
                </field>

                <field id="backgroundColor" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Background color</label>
                    <comment>This is the background color of the promo.</comment>
                </field>

            </group>
        </section>
    </system>
</config>