<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshipping>
                <active>1</active>
                <uri>https://5d317bb345e2b00014d93f1c.mockapi.io</uri>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Modules\CustomShippingAPI\Model\Carrier\Customshipping</model>
            </customshipping>
        </carriers>
    </default>
</config>